body {
    padding: 0;
    margin: 0;
}

.right-side {
    background-image: url("./assets/weather.jpg");
    background-size: 100% 100%;
}

#temp1 {
    margin-top: 15rem;
}

#cName {
    margin-top: 3rem;
}

.btn {
    border: 1px solid white;
}

.item {
    font-size: 15px;
}